{% extends 'base.html' %}
{% block title %}日記の編集{% endblock title %}
{% block content %}
<h1>編集</h1>
{% if type == "add" %}
<form class="" action="{% url 'Note:diary_create_none' %}" method="post">
{% elif type == "update" %}
<form class="" action="{% url 'Note:diary_update' id %}" method="post">
{% else %}
<form class="" action="{% url 'Note:diary_create_none' %}" method="post">
{% endif %}
  {% csrf_token %}
  {{ form.as_p }}
  {% if type == "add" %}
  <button type="submit" class="btn btn-primary btn-sm">登録</button>
  {% elif type == "update" %}
  <button type="submit" class="btn btn-primary btn-sm">更新</button>
  <a href="{% url 'Note:diary_delete' id %}" class="btn btn-primary btn-sm">削除</button>
  {% else %}
  <button type="submit" class="btn btn-primary btn-sm">登録</button>
  {% endif %}
</form>
{% endblock content %}
